/* globally used design tags */
.container {
  height: 90vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: auto;
  width: 50%;
  min-width: 600px;
  padding: 1.5rem;
}

.main_horizontal { /* this always contains two item_horizontal */
  width: 50%;
  min-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem 0;
}

.item_horizontal {
  padding: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.main_vertical { /* this can contain more than 2 items inside */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  min-width: 600px;
}

.item_vertical {
  width: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0%;
}

/* header design tags */
.header_element {
  padding: 0.5rem;
}

.header_left {
  float: left;
}

.header_right {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/* design tags for images */
.logo {
  width: 10%;
  margin-right: 5%;
  margin-top: 10%;
}

.logos {
  display: inline-block;
}

.image {
  max-height: min(60vh, 100%);
  max-width: 100%;
}

/* design tags for texts */
.description {
  font-size: small;
}

@Media screen and (max-width: 600px) {
  .header {
    min-width: 100%;
  }
  .main_horizontal { /* make this vertical container */
    flex-direction: column;
    min-width: 100%;
  }
  .item_horizontal { /* indeed the item stacking vertically, not horizontally */
    width: 100%;
  }
  .logo {
    width: 5%;
    min-width: 30px;
  }
}
